<div class="all">
  <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image" (click)="recipeDetails(recipe._id)"></div>
         <mat-card-title>{{recipe.recipeName}}</mat-card-title>
          
         
         
            <mat-card-subtitle>{{recipe.category}}</mat-card-subtitle>
          

        </mat-card-header>
         <div class="image" (click)="recipeDetails(recipe._id)">
          <img mat-card-image src="https://i.pinimg.com/736x/a8/a1/37/a8a137c178b32664a13351df3f5f712b.jpg" >
        </div>       
      <!-- <mat-card-content>
        <div (click)="recipeDetails(recipe._id)">
        <p><b>Ingredients: </b>
        {{recipe.ingredients}}
      </p>
    </div>

    
      </mat-card-content> -->
  
      <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <button mat-icon-button color="warn" (click)="deleteRecipe()"><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
  
    </mat-card>
  </div>