.example-card {
    max-width: 400px;
    margin: 5px;
background: rgba(245, 222, 179, 0.337);
  }

.image{
 align-items: center;
 width: 350px;
 height: 350px;
 overflow: hidden;
 margin-left: 25px;
 margin-bottom: 10px;
}

.all{
  border: 2px;
  border-color: wheat;
}