
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Navigation Bar -->
<nav>
  <label class="logo">DailyDelish</label>
  <ul>
    <li><a [routerLink]="['/home']">Recipe List</a></li>
    <li><a [routerLink]="['/aboutus']">About Us</a></li>
    <li><a (click)="logout()">Log Out</a></li>
  </ul>
</nav>
    
    <div class="bg">

        <div class="input">
          <form class="recipe-form" [formGroup]="recipeForm" (ngSubmit)="addRecipe()">
            <p style="font-family: 'Times New Roman', Times, serif; text-align: center; color: rgba(0, 0, 0, 0.681); font-size: 25px; font-style: oblique;font-weight: bold;">Please Fill out the necessary Information</p>

          <mat-form-field>
            <mat-label>Recipe Name</mat-label>
            <input matInput type="text" formControlName="recipeName" />
          </mat-form-field>
          <mat-form-field>
            <mat-label> Ingredients</mat-label>
            <textarea matInput type="text" formControlName="ingredients"></textarea>
          </mat-form-field>    
          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput type="text" formControlName="description"> </textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
              @for (category of categoriesOfRecipe; track $index) {
              <mat-option [value]="category">{{ category }}</mat-option>
              }
            </mat-select>
          </mat-form-field>


          <div class="container">
            <button mat-raised-button style="background: #9b0c8697;" type="submit">Submit</button>
        </div>
        </form>
        </div>
      
      </div>