.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  
  }

.input{
    display: flex;
    justify-content: center;
    // align-items: center;
}

.Ingredients{
    display: flex;
    justify-content: center;
    width: 100%;

}

.example-full-ingredient {
    width: 33%;
  
  }

  .Catagory{
    display: flex;
    justify-content: center;
    width: 100%;

}

.example-full-catagory {
    width: 33%;
  
  }

  .container{
    display: flex;
    justify-content: center;
    }

    .blog-form {
        margin-inline: 100px;
        margin-block: 32px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: min(100%, 300px);
      }