<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Navigation Bar -->
<nav>
  <label class="logo">DailyDelish</label>
  <ul>
    <li><a href="/signup">Sign up</a></li>
    <li><a href="#">About Us <i class="fa fa-usd" aria-hidden="true"></i></a></li>
  </ul>
</nav>

<!-- Note
<div style="background:rgba(255, 0, 140, 0.544);padding:2px; display: flex; justify-content: center;text-align: center;">
  <h4 style="text-align:center">Cooking is not just some recipies,it reflects the soul </h4>
</div> -->

<!-- Header -->
<div class="header">
  <!-- <h1>My Website</h1> -->
  <div class="welcome">
    Welcome to the World of Cooking
  </div>
  <!-- <p>With love, <b>affection &</b> adore.</p> -->
</div>



<div class="loginheader">
Log into your account
</div>


 <!-- frooooommmmmmmmmm -->

<div class="input">
  <form class="log-form">

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
      @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
        <mat-error>Please enter a valid email address</mat-error>
      }
      @if (emailFormControl.hasError('required')) {
        <mat-error>Email is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>



<div class="container">
    <!-- <button mat-stroked-button type="submit">Log In</button> -->
    <a mat-raised-button href="/home">Log In</a>
</div>

</form>
</div>

    <br>

<div style="text-align: center;">
<P>Don't Have and account? <a href="/signup">  SignUp</a> here</P>
</div>
<!-- Footer -->
<div class="footer">
  <h2>Footer</h2>
</div>

<!-- ///jdhdgdgdgd -->
<!-- 




   -->