<meta name="viewport" content="width=device-width, initial-scale=1.0">



<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Navigation Bar -->
<nav>
  <label class="logo">DailyDelish</label>
  <ul>
    <li><a [routerLink]="['/login']">Log In</a></li>
    <li><a [routerLink]="['/aboutus']">About Us <i class="fa fa-usd" aria-hidden="true"></i></a></li>
  </ul>
</nav>

<!-- Note
<div style="background:rgba(255, 0, 140, 0.544);padding:2px; display: flex; justify-content: center;text-align: center;">
  <h4 style="text-align:center">Cooking is not just some recipies,it reflects the soul </h4>
</div> -->

<!-- Header -->
<div class="header">
  <!-- <h1>My Website</h1> -->
  <div class="welcome">
    Welcome to the World of Cooking
  </div>
  <!-- <p>With love, <b>affection &</b> adore.</p> -->
</div>



<div class="loginheader">
You have to create an account first
</div>


 <!-- frooooommmmmmmmmm -->

<div class="input">
 <form class="log-form" [formGroup]="userForm" (ngSubmit)="addUser()">

    <!-- Email Field -->
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="userForm.controls.email.invalid && userForm.controls.email.touched">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <!-- User Name Field -->
    <mat-form-field>
      <mat-label>User Name</mat-label>
      <input matInput placeholder="Ex. sRezwana" formControlName="userName">
      <mat-error *ngIf="userForm.controls.userName.invalid && userForm.controls.userName.touched">
        It must be at least 3 characters long
      </mat-error>
    </mat-form-field>
    
    <!-- Password Field -->
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="userForm.controls.password.invalid && userForm.controls.password.touched">
        Password must be at least 5 characters long
      </mat-error>
    </mat-form-field>

    <div>
      <button class="container" type="submit" [disabled]="!userForm.valid">Submit</button>
    </div>

 </form>
</div>


    <br>

<div style="text-align: center;">
<P>Don't Have and account? <a href="/login">  Log In</a> here</P>
</div>
<!-- Footer -->
<div class="footer">
  <h2>Footer</h2>
</div>

<!-- ///jdhdgdgdgd -->
<!-- 




   -->



