<div class="home-container">
    <div class="all-Recipe">
        <div fxLayout="row wrap">
            <div class="top">
                <h4>All Recipe</h4>
            </div>
            
            <div class="recipe-grid">
                <div class="movie-item" *ngFor="let recipe of popularRecipe">

                    <mat-card class="example-card">
                    <mat-card-header>
                    <div class="name" (click)="goToRecipe(recipe._id)">
                        <mat-card-title>{{ recipe.recipeName }}</mat-card-title>

                    </div>
    
                    <div class="detail">
                        <div class="catagory" (click)="goToRecipe(recipe._id)">
                            <mat-card-subtitle>{{recipe.category}}</mat-card-subtitle>
                        </div>
                    </div>
                   </mat-card-header>

                  <mat-card-content>
                    <p>{{recipe.ingredients}}</p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                  </mat-card-actions>
                  </mat-card>
                </div>
            </div>
        </div>

    </div>

   